.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100vh;
  width: 100%;
}

input::placeholder {
  color: #111;
  font-size: 1.2rem;
}

.button {
  cursor: pointer;
  font: 700 16px/16px "Roboto", sans-serif;
  color: #fff;
  background-color: #171923;
  border-radius: 6px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0px 2px 3px #aaddff;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

.button:hover {
  background-color: #aaddff;
  color: #171923;
}

.criar-conta {
  display: block;
  color: #252525;
  padding-top: 20px;
  font: 400 0.875rem/1 "Roboto", sans-serif;
}
.criar-conta a {
  color: #0095ff;
  text-decoration: none;
}

.input-senha {
  display: grid;
  align-items: center;
}

.input-senha #input-pass {
  grid-area: 1/1;
}

.input-senha #btnRegistro {
  grid-area: 1/1;
  font-size: 26px;
  line-height: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  justify-self: end;
  width: 40px;
  margin-bottom: 12px;
}
