.container-slide {
  width: 94vw;
  height: 60vh;
  margin: 20px auto;
}

.slide {
  height: 100%;
  width: 100%;
  background-color: skyblue;
}

.baixar--banner {
  display: block;
  margin: 20px auto;
}
