.banner {
  /* height: 300px; */
  height: 430px;
  max-width: 1000px;
  width: 100%;
  max-width: 1000px;
  background-color: orangered;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;

  /* margin-bottom: 60px; */
}
.preview {
  height: 100%;
  width: 100%;
}
