.banner {
  /* height: 300px; */
  height: 430px;
  max-width: 1000px;
  width: 100%;
  background-color: #1d1d1d;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
  /* margin-bottom: 60px; */
}
.preview {
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.button-adicionar {
  background-color: #171923;
  cursor: pointer;
  font: 700 16px/16px "Roboto", sans-serif;
  color: #fff;
  border-radius: 6px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0px 2px 3px #aaddff;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

.button-adicionar:hover {
  background-color: #5d8aa8;
  color: #171923;
}






