.container {
  max-width: 1200px;
  margin: 0 auto;
}

.input--busca {
  max-width: 200px;
}
.logo {
  display: flex;
  gap: 10px;
}

.header {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin-top: 60px;
}

.image-content img {
  display: block;
  max-width: 100%;
  height: 400px;
}

.buttons-slide {
  padding-top: 40px;
  display: flex;
  justify-content: end;
  gap: 20px;
}
