.container {
  max-width: 1200px;
  margin: 0 auto;
}

.input--busca {
  max-width: 200px;
}
.logo {
  display: flex;
  gap: 10px;
}

.header {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin-top: 20px;
}

.image-content img {
  display: block;
  max-width: 100%;
  height: 400px;
}

.buttons-slide {
  padding-top: 40px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.text--content {
  display: flex;
}

.text--content h1 {
  font-size: 1.3rem;
}

.text--content h2 {
  font-size: 1.2rem;
  padding: 4px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.text--content p {
  font-size: 0.875rem;
  padding: 4px 0;
}
