.header {
  /* margin: 20px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputInfo {
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  background: #eee;
  transition: 0.2s;
  padding: 5px 10px;
  height: 50px;
}


.inputSku {
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  background: #eee;
  transition: 0.2s;
  padding: 5px 10px;
}

.ib {
  display: flex;
  gap: 10px;
  margin-top: 5%;
}

.ib button{
  background-color: #171923;
  display: flex;
  font-size: 15px;
  width: 100px;
}
.ib button:hover{
  background-color: #5d8aa8;
  color: #171923;
}


.carregarImg {
  font-size: 15px;
  width: 200px;
  display: flex;
  background-color: #171923;
  margin-top: 22%;
}

.carregarImg:hover {
  color: #171923;
  background-color: #5d8aa8;
  
}

/* Upload */

input[type="file"] {
  display: none;
}
