.header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.inputInfo {
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  background: #eee;
  transition: 0.2s;
  padding: 10px;
}

.ib {
  display: flex;
  gap: 10px;
}

/* Upload */

input[type="file"] {
  display: none;
}
