.main {
  margin-bottom: 60px;
}

.infos {
  display: flex;
  align-items: center;
}

.infos #name {
  font-size: 32px;
  font-weight: 700;
}

.infos li {
  font-size: 18px;
  font-weight: 400;
}

.infos img {
  height: 200px;
}
