.container-slide {
  width: 90vw;
  height: 60vh;
  margin: 20px auto;
}

.slide {
  height: 100%;
  width: 100%;
  background-color: skyblue;
}

.buttons-slide {
  padding-top: 40px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.baixar--banner {
  display: block;
  margin: 20px auto;
}
