* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* min-height: calc(100vh - 100px); */
  max-height: 100vh;
}

html {
  --font-size: 1.2rem;
  --color: #19f;
  --color-light: #adf;
  --color-dark: #018;
  --radius: 0.2rem;
  --font-w: 400;
}

input,
textarea,
button {
  font-size: var(--font-size);
  font-family: var(--font);
  font-weight: var(--font-w);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: square;
}

li {
  list-style: none;
  margin-bottom: 0.8rem;
}

button,
label,
.carregarImg {
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  transition: 0.1s;
  background: var(--color);
  color: var(--color-dark);
  padding: 5px 10px;
  color: #eee;
  font-size: 1.2rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color);
  background: white;
  box-shadow: 0 0 0 3px var(--color-light);
}
label:focus,
label:hover,
.carregarImg:focus,
.carregarImg:hover,
button:hover,
button:focus {
  background: var(--color);
  box-shadow: 0 0 0 3px var(--color-light), 0 0 0 4px var(--color);
  outline: none;
}

button:active {
  box-shadow: 0 0 0 3px var(--color), 0 0 0 4px var(--color);
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

hr {
  border: 1px solid #0e1013;
}

img {
  max-width: 100%;
  display: block;
}
