.container-createuser {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

@media (max-width: 800px) {
  .container {
    max-width: 90vw;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  form {
    order: 0;
  }
  .contentText {
    order: 1;
  }
  .contentText h1 {
    font-size: 48px;
    line-height: 1;
    text-align: center;
  }
  input[type="password"],
  input[type="email"] {
    width: 100%;
  }
}

.inputSenha {
  display: grid;
  align-items: center;
}

.inputSenha #inputPass {
  grid-area: 1/1;
}

#btnSenha {
  grid-area: 1/1;
  font-size: 26px;
  line-height: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  justify-self: end;
  width: 40px;
  margin-top: -12px;
}
